html {
    background: #d3d3d3;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 850px;
    position: relative;
    top: 0px;
    min-height: 100%;
}

/* global */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

a:active {
    opacity: .5;
}

a:visited {
    color: #3b5998
}

/* header */

header .container {
    width: 850px;
    background: #3b5998;
    height: 200px;
}

header .profilephoto {
    position: relative;
    bottom: 100px;
    border: 2px solid black;
    width: 125px;
    height: 125px;
    margin-left: 10px;
    background: #3b5998;
}

header .coverphoto {
    background: #3b5998;
    height: 200px;
}

.textbox {
    color: white;
    position: relative;
    bottom: 75px;
    left: 150px;
    margin-bottom: 0;
    width: 175px;
}

header h3 {
    margin-bottom: 0;
}

header p {
    margin-top: 5px;
    font-weight: lighter;
}

header li {
    display: inline;
    margin: 0;
    padding: 0px;
}

#coverbuttons {
    position: relative;
    bottom: 110px;
    left: 550px;
    font-size: 12px;
    width: 300px;
}

#like_b {
    margin-right: 20px
}

.button:active {
    background-color: lightgrey;
    opacity: 1;
}

header .button {
    background-color: whitesmoke;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
    color: black;
    text-align: center;
}

/* whitebox AKA nav */

#whitebox {
    background: whitesmoke;
    height: 45px;
    padding-top: 5px;
    position: relative;
    bottom: 107px;
}

#whitebox li {
    position: relative;
    left: 145px;
    background-color: whitesmoke;
}

.navbuttons {
    color: black;
    padding: 10px;
    margin: 0;
}

.navbuttons:active {
    opacity: .5;
}

.navbuttons:hover {
    border-bottom: 2px #3b5998 solid;
}

#current {
    border-bottom: 2px #3b5998 solid;
    font-weight: bold;
}

/* section */

section {
    position: relative;
    bottom: 65px;
}

/* section LEFT COLUMN */

.aboutcolumn {
    background: whitesmoke;
    width: 328px;
    height: auto;
    float: left;
}

.aboutcolumn h3 {
    padding: 0 0 0 10px;
}

.aboutcolumn p {
    color: #3b5998;
    padding: 0 0 0 10px;
}

.aboutcolumn .websitelink {
    color: #3b5998;
}

/* section RIGHT COLUMN */

.rightcolumn {
    background: whitesmoke;
    height: 300px;
    width: 512px;
    float: right;
}

.rightcolumn .profilephoto {
    background: #3b5998;
    width: 50px;
    height: 50px;
    margin: 10px;

}

.feedinfo {
    font-size: 14px;
    position: relative;
    bottom: 55px;
    left: 70px;
}

.feedinfo p {
    color: grey;
    margin-bottom: 3px;
}

.feedinfo .pagelink {
    font-weight: bold;
    color:#3b5998
}

.feedinfo .coverphotolink {
    color: #3b5998
}

.feedinfo .posttimer {
    margin: 0;
    opacity: .6;
}

.rightcolumn .feedimage {
    position: relative;
    bottom: 35px;
    background: #3b5998;
    width: auto;
    height: 200px;
    margin: 0px 5px 3px 5px;
}

/* post feedback */

.postfeedback {
    position: relative;
    bottom: 30px;
    width: auto;
    background: rgb(194, 194, 194);
    padding: 5px;
}

.postfeedback ul {
    margin: 0;
    
}
.postfeedback li {
    display: inline;
    padding: 0 7px;
    font-size: 12px;
}